<a href="https://colab.research.google.com/github/gago27/sql/blob/master/q03_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## 
## Escriba una consulta que retorne los primeros cinco
## registros de la tabla tbl1 ordenados por fecha
## 
import sqlite3, os
import glob
filenames = glob.glob("tbl1.csv")
conn = sqlite3.connect(":memory:")
cur = conn.cursor()
tabla = '''
CREATE TABLE tbl1 (
  K0 CHAR(1),
  K1 INT,
  c12 FLOAT,
  c13 INT,
  c14 DATE,
  c15 FLOAT,
  c16 CHAR(4)
  );
  '''
conn.execute(tabla).fetchall()

tablita = open("tbl1.csv", "rt", encoding="utf=8").readlines()
tablita = [line[:-1] for line in tablita]
tablita = [line.split(",") for line in tablita]
tablita = [tuple(line) for line in tablita]
conn.executemany("INSERT INTO tbl1 VALUES (?,?,?,?,?,?,?)", tablita).fetchall()

[]

In [12]:
conn.execute("SELECT * FROM 'tbl1' ORDER BY c14 LIMIT 5").fetchall()

[('A', 20, 938.16, 300, '2016-09-12', 0.19, 'BECB'),
 ('C', 15, 370.58, 900, '2016-10-01', 0.11, 'GCDD'),
 ('E', 22, 118.77, 900, '2016-10-29', 0.32, 'GEFE'),
 ('B', 12, 999.72, 800, '2016-11-09', 0.26, 'FCGD'),
 ('E', 14, 832.44, 800, '2016-11-22', 0.39, 'EGFD')]