<a href="https://colab.research.google.com/github/gago27/sql/blob/master/q05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
## 
## Escriba una consulta que retorne todos los campos de 
## la tabla tbl0 para los que el campo c02 es igual a 100
## o igual a 600
## 
import sqlite3
import glob
conn = sqlite3.connect(":memory:")
cur = conn.cursor()
filenames = glob.glob("tbl0.csv")
tabla= """
CREATE TABLE tbl0 (
 K0 CHAR(1),
 c01 INT,
 c02 INT,
 c03 CHAR(4),
 c04 FLOAT
 );"""
conn.execute(tabla).fetchall()
tablas = open("tbl0.csv", "rt", encoding="utf-8").readlines()
tablas = [line[:-1] for line in tablas]
tablas = [line.split(",") for line in tablas]
tablas = [tuple(line) for line in tablas]
tablas[0][0] = 'A'

[]

In [12]:
conn.executemany("INSERT INTO tbl0 VALUES(?,?,?,?,?)", tablas).fetchall()

[]

In [21]:
conn.execute("SELECT * FROM tbl0 WHERE c02 = 100 OR c02 = 600").fetchall()

[('B', 7000, 100, 'OLPKN', 0.2),
 ('C', 1000, 600, 'LMMML', 0.2),
 ('D', 4000, 600, 'PJLJL', 0.4),
 ('G', 5000, 100, 'NLPLO', 0.2)]

In [11]:
tablas = open("tbl0.csv", "rt", encoding="utf-8").readlines()
tablas = [line[:-1] for line in tablas]
tablas = [line.split(",") for line in tablas]
tablas[0][0] = 'A'
tablas = [tuple(line) for line in tablas]
tablas

[('A', '5000', '900', 'NMNJL', '0.4'),
 ('B', '7000', '100', 'OLPKN', '0.2'),
 ('C', '1000', '600', 'LMMML', '0.2'),
 ('D', '4000', '600', 'PJLJL', '0.4'),
 ('E', '4000', '200', 'PONNJ', '0.4'),
 ('F', '2000', '300', 'NNPJO', '0.3'),
 ('G', '5000', '100', 'NLPLO', '0.2'),
 ('H', '1000', '200', 'NLPPO', '0.4'),
 ('I', '3000', '300', 'PPPPL', '0.')]